.osc-body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    background: url(./images/pattern-background-desktop.svg) no-repeat;
    background-size: 100%,100%;
    background-color: hsl(225, 100%, 94%);
}

.osc-box {
    background-color: hsl(225, 100%, 100%);
    width: 28%;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.osc-h2 {
    color: hsl(223, 47%, 23%);
}

.osc-p {
    color:  hsl(224, 23%, 55%);
    font-size: 16px;
    width: 80%;
    margin: 0;
}

.osc-plans-box {
    display: flex;
    justify-content: center;
    background-color: hsl(225, 100%, 98%);
    border-radius: 15px;
    width: 80%;
    margin: 20px 0px;
}

.osc-plan-details1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.osc-plan-details2 {
    display: flex;
    flex-direction: column;
}

.osc-plan-details3 {
    margin-left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.osc-plan {
    margin-bottom: 0;
}

.osc-price {
    color:  hsl(224, 23%, 55%);
    font-size: 16px;
    margin-top: 12px;
    width: 80%;
}

.pay-button {
    text-decoration: none;
    width: 80%;
}